@use 'sass:list';

$tooltip-background-opacity: 1;
$tooltip-font-size: $size-6;
$tooltip-radius: 0;

$tooltip-light-background: $white-ter;
$tooltip-dark-background: $black;

// list of color and background
$keyword-blue: (rgb(33, 124, 145), $tooltip-light-background);
$keyword-green: (rgb(57, 128, 68), $tooltip-light-background);
$keyword-orange: (rgb(196, 94, 22), $tooltip-light-background);
$keyword-pink: (rgb(211, 43, 227), $black);
$keyword-purple: (rgb(107, 68, 133), $tooltip-light-background);
$keyword-red: (rgb(160, 36, 36), $tooltip-light-background);
$keyword-white: (rgb(241, 229, 181), $black);
$keyword-yellow: (rgb(177, 156, 28), $black);

$keywords-colors: (
  'bloodlust': $keyword-red,
  'boost': $keyword-blue,
  'cantrip': $keyword-pink,
  'charged': $keyword-blue,
  'cleanse': $keyword-white,
  'cleave': $keyword-white,
  'cruel': $keyword-purple,
  'drain': $keyword-red,
  'duplicate': $keyword-blue,
  'eliminate': $keyword-red,
  'engage': $keyword-yellow,
  'flanking': $keyword-white,
  'growth': $keyword-green,
  'heavy': $keyword-yellow,
  'pain': $keyword-red,
  'petrify': $keyword-yellow,
  'poison': $keyword-green,
  'rampage': $keyword-purple,
  'ranged': $keyword-white,
  'regen': $keyword-red,
  'removed': $keyword-white,
  'rescue': $keyword-yellow,
  'revenge': $keyword-orange,
  'single-cast': $keyword-purple,
  'single-use': $keyword-red,
  'steel': $keyword-white,
  'undying': $keyword-white,
  'vulnerable': $keyword-orange,
  'weaken': $keyword-green,
);

@each $name, $keyword-color in $keywords-colors {
  $color: list.nth($keyword-color, 1);
  $background-color: list.nth($keyword-color, 2);

  span[data-tooltip].keyword-#{$name} {
    font-weight: bold;
    color: $color;
    border-bottom: 1px dotted $color;

    &::before {
      color: $color !important;
      background: $background-color !important;
      border: 1px solid $color !important;
    }
  }
}
