@import './bulma-overrides.scss';
@import '~bulma/bulma.sass';
@import './bulma-tooltip-overrides.scss';
@import '~@creativebulma/bulma-tooltip';

html,
body,
body > div,
body > div > div {
  height: 100%;
  overflow: auto;
}

body > div > div {
  display: flex;
  flex-direction: column;
}

#query-on-demand-indicator-element {
  height: 0;
}

a:hover {
  text-decoration: underline;
}

.hero.has-background {
  position: relative;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 0.5;
}
