@import '~bulma/sass/utilities/_all.sass';

.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.face {
  border-width: 2px;
  border-style: solid;
  padding: 0.25rem;
  margin: -1px;
  text-align: center;
  background-color: $black;
}
