@import '~bulma/sass/utilities/_all.sass';

.levelRow {
  @include mobile {
    margin-bottom: 0.5rem;
  }
}

a:global([class^='snd-hero-link-']) {
  margin-right: 1rem;
  margin-bottom: 1rem;

  @include mobile {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 0.5rem;
  }
}

.expandPanel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;

  &:global(.open) {
    max-height: 500px;
    //overflow: visible;
    //width: fit-content;
  }

  &:global(.closed) {
  }
}

.expandPanelInner {
  background-color: $black-bis;
  margin-bottom: 1rem;
  padding: 0.5rem 0.75rem;
}
