@import '~bulma/sass/utilities/_all.sass';

.levelRow {
  @include mobile {
    margin-bottom: 0.5rem;
  }
}

a:global([class^='snd-hero-link-']) {
  margin-right: 1rem;
  margin-bottom: 1rem;

  @include mobile {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 0.5rem;
  }
}
