@import '~bulma/sass/utilities/_all.sass';
@import '../styles/custom-colors.scss';

.root {
  border-style: solid;
  border-color: $defender;
  color: $defender;
  background-color: $black;
  font-family: monospace;
  font-weight: bold;
}

.header {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  border-width: 2px;
  font-size: $size-3;

  @include mobile {
    margin-bottom: 0.75rem;
    font-size: $size-4;
  }
}

.icon {
  margin-left: 0.75rem;
  padding: 0 0.25rem;
  border-width: 1px;
}
