@import '~bulma/sass/utilities/_all.sass';
@import '../styles/custom-colors.scss';

$padding: 0.25rem 1rem;

.root {
  border-radius: 4px;
  background-color: $black;
  margin: 0 auto;
  width: 50%;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  padding: $padding;
}

.costPips {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.costPip {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid $adept;
  background-color: $adept;

  &:not(:last-child) {
    margin-right: 4px;
  }
}

.description {
  padding: $padding;
  text-align: center;
}
