@import '../styles/bulma-overrides.scss';
@import '~bulma/sass/utilities/_all.sass';

$padding: 0.25rem 1rem;

.root {
  border-radius: 0.5rem;
  background-color: $scheme-main-bis;

  &:global(.spell-item) {
    display: inline-block;
    min-width: 150px;
  }

  @include mobile {
    font-size: $size-7;
  }
}

.titleWrapper {
  display: flex;
  justify-content: center;
  padding: $padding;
}

.costPips {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.costPip {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid $adept;
  background-color: $adept;

  &:not(:last-child) {
    margin-right: 4px;
  }

  @include mobile {
    width: 9px;
    height: 9px;

    &:not(:last-child) {
      margin-right: 3px;
    }
  }
}

.description {
  padding: $padding;
  text-align: center;
}
