@import '~bulma/sass/utilities/_all.sass';

@include mobile {
  $die-size: 84px;

  .face {
    width: $die-size;
    height: $die-size;
  }

  .spellWrapper {
    width: $die-size * 2;
    max-height: $die-size;
  }
}

@include tablet {
  $die-size: 128px;

  .face {
    width: $die-size;
    height: $die-size;
  }

  .spellWrapper {
    width: $die-size * 2;
    max-height: $die-size;
  }
}

$face-border: 2px;
$face-offset: -$face-border;

.root {
  > div:not(:last-child) {
    margin-bottom: $face-offset;
  }

  > div > div:not(:last-child) {
    margin-right: $face-offset;
  }
}

.faceShown {
  composes: face;
  display: flex;
  justify-content: center;
  text-align: center;
  border-width: $face-border;
  border-style: solid;
}

.faceBlank {
  composes: faceShown;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: #ad1f1e;

  @include mobile {
    font-size: 3rem;
  }
}

.facePlaceholder {
  composes: face;
}

$inner-padding-vertical: 12px;
$inner-padding-horizontal: 12px;
$inner-padding-vertical-mobile: 4px;
$inner-padding-horizontal-mobile: 6px;

.inner {
  height: 100%;
  padding: $inner-padding-vertical $inner-padding-horizontal;

  @include mobile {
    padding: $inner-padding-vertical-mobile $inner-padding-horizontal-mobile;
    font-size: $size-7;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.spellWrapper {
  padding: 1rem;

  @include mobile {
    padding: 0.75rem;
  }
}
